{% extends 'base.html' %} {% load static %} {% block vendor_css %}
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/node-waves/node-waves.css' %}"
/>

<link
  rel="stylesheet"
  href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}"
/>
{% endblock %} {% block page_css %}
<link
  rel="stylesheet"
  href="{% static 'vendor/css/pages/page-profile.css' %}"
/>
{% endblock %} {% block content %} {% include 'partials/navbar.html' %}
<!-- Layout wrapper -->
<div
  class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu"
>
  <div class="layout-container">
    <!-- Layout container -->
    <div class="layout-page">
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Invoice List Widget -->

          <div class="card mb-6">
            <div class="card-widget-separator-wrapper">
              <div class="card-body card-widget-separator">
                <div class="row gy-4 gy-sm-1">
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="d-flex justify-content-between align-items-center card-widget-1 border-end pb-4 pb-sm-0"
                    >
                      <div>
                        <h4 class="mb-0">24</h4>
                        <p class="mb-0">Clients</p>
                      </div>
                      <div class="avatar me-sm-6">
                        <span
                          class="avatar-initial rounded bg-label-secondary text-heading"
                        >
                          <i class="ti ti-user ti-26px"></i>
                        </span>
                      </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none me-6" />
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="d-flex justify-content-between align-items-center card-widget-2 border-end pb-4 pb-sm-0"
                    >
                      <div>
                        <h4 class="mb-0">165</h4>
                        <p class="mb-0">Invoices</p>
                      </div>
                      <div class="avatar me-lg-6">
                        <span
                          class="avatar-initial rounded bg-label-secondary text-heading"
                        >
                          <i class="ti ti-file-invoice ti-26px"></i>
                        </span>
                      </div>
                    </div>
                    <hr class="d-none d-sm-block d-lg-none" />
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="d-flex justify-content-between align-items-center border-end pb-4 pb-sm-0 card-widget-3"
                    >
                      <div>
                        <h4 class="mb-0">$2.46k</h4>
                        <p class="mb-0">Paid</p>
                      </div>
                      <div class="avatar me-sm-6">
                        <span
                          class="avatar-initial rounded bg-label-secondary text-heading"
                        >
                          <i class="ti ti-checks ti-26px"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <div>
                        <h4 class="mb-0">$876</h4>
                        <p class="mb-0">Unpaid</p>
                      </div>
                      <div class="avatar">
                        <span
                          class="avatar-initial rounded bg-label-secondary text-heading"
                        >
                          <i class="ti ti-circle-off ti-26px"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Invoice List Table -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <!-- DataTable with Buttons -->
            <div class="card">
              <div class="card-datatable table-responsive pt-0">
                <table class="datatables-basic table">
                  <thead>
                    <tr>
                      <th></th>
                      <th>서비스 이름</th>
                      <th>주문 ID</th>
                      <th>가격</th>
                      <th>결제 수단</th>
                      <th>주문 날짜</th>
                      <th>상태</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr class="odd">
                      <td
                        class="control"
                        tabindex="0"
                        style="display: none"
                      ></td>
                      <td class="dt-checkboxes-cell">
                        <input
                          type="checkbox"
                          class="dt-checkboxes form-check-input"
                        />
                      </td>

                      <td>{{ order.service }}</td>
                      <td><small>{{ order.id }}</small></td>
                      <td>{{ order.total_price }}</td>
                      <td>{{ order.payment_method }}</td>
                      <td class="sorting_1">{{ order.created_at }}</td>
                      <td>
                        <span class="badge bg-label-info">
                          {% if order.purchase_complete == 1 %} 결제 완료
                          {%else%} 미결제 {% endif %}
                        </span>
                      </td>
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
              </div>
            </div>

            <!--/ DataTable with Buttons -->
            <!--/ Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl">
                <div
                  class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column"
                >
                  <div class="text-body">
                    ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    , made with ❤️ by
                    <a
                      href="https://pixinvent.com"
                      target="_blank"
                      class="footer-link"
                      >Pixinvent</a
                    >
                  </div>
                  <div class="d-none d-lg-inline-block">
                    <a
                      href="https://themeforest.net/licenses/standard"
                      class="footer-link me-4"
                      target="_blank"
                      >License</a
                    >
                    <a
                      href="https://1.envato.market/pixinvent_portfolio"
                      target="_blank"
                      class="footer-link me-4"
                      >More Themes</a
                    >

                    <a
                      href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/"
                      target="_blank"
                      class="footer-link me-4"
                      >Documentation</a
                    >

                    <a
                      href="https://pixinvent.ticksy.com/"
                      target="_blank"
                      class="footer-link d-none d-sm-inline-block"
                      >Support</a
                    >
                  </div>
                </div>
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!--/ Content wrapper -->
        </div>

        <!--/ Layout container -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>

    <!--/ Layout wrapper -->
    {% endblock %} {% block vendor_js %}
    <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    {% endblock %} {% block page_js %}
    <script src="{% static 'js/pages-profile.js' %}"></script>
    {% endblock %}
  </div>
</div>
