{% extends 'base.html' %} {% load static %} {% block vendor_css %}
  <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />

  <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-bs5/datatables.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css' %}" />
{% endblock %} {% block page_css %}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-profile.css' %}" />
{% endblock %} {% block content %}
  {% include 'partials/navbar.html' %}
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
      <!-- Content -->

      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
          <h3 class="card-header">코멘트 수정</h3>
          <div class="card-body">
            <form method="post" action="{% url 'services:update_comment' comment_id=comment.id %}">
              {% csrf_token %}

              <div class="mb-4">
                <label for="content" class="form-label">Comment</label>
                <textarea class="form-control" id="content" name="content" rows="3">{{ comment.content }}</textarea>
              </div>
              <button type="submit" class="btn btn-primary">수정</button>
            </form>
          </div>
        </div>
      </div>
      <!-- / Content -->

      <!-- Footer -->
      {% comment %}
      <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl">
          <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
            <div class="text-body">
              ©<script>
                 document.write(new Date().getFullYear())
               </script>, made with ❤️ by
              <a href="https://pixinvent.com" target="_blank" class="footer-link">Pixinvent</a>
            </div>
            <div class="d-none d-lg-inline-block">
              <a href="https://themeforest.net/licenses/standard" class="footer-link me-4" target="_blank">License</a>
              <a href="https://1.envato.market/pixinvent_portfolio" target="_blank" class="footer-link me-4">More Themes</a>

              <a href="https://demos.pixinvent.com/vuexy-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentation</a>

              <a href="https://pixinvent.ticksy.com/" target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>
            </div>
          </div>
        </div>
      </footer>
      {% endcomment %} {% include 'partials/footer.html' %}
      <!-- / Footer -->

      <div class="content-backdrop fade"></div>
    </div>
    <!-- / Content wrapper -->
  </div>

  <!-- / Layout container -->

  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>

  <!-- Drag Target Area To SlideIn Menu On Small Screens -->
  <div class="drag-target"></div>

  <!-- / Layout wrapper -->
{% endblock %} {% block vendor_js %}
  <script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
{% endblock %} {% block page_js %}
  <script src="{% static 'js/pages-profile.js' %}"></script>
{% endblock %}
