{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}
<h1>Create Test Page</h1>

<!-- 폼 액션은 현재 URL로 설정, method는 POST로 설정 -->
<form method="post" enctype="multipart/form-data">
    <title>Portfolio Form</title>
    {{ form.media }}
    {% csrf_token %}  
    
    {{ form.as_p }}
    
    <button type="submit">작성하기</button>
    
</form>
{% endblock %}