{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}
  <a href="{% url 'create_test' %}" class="btn btn-primary">글쓰기</a>

<div class="container mt-4">
  {% for portfolio in portfolios %}
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <div class="card-body">
        <h5 class="card-title">{{ portfolio.title }}</h5>
        <p class="card-text">Show: {{ portfolio.show }}</p>
        <p class="card-text">Likes: {{ portfolio.like }}</p>
        <a href="{% url 'test_detail' portfolio.id %}" class="btn btn-primary">View Portfolio</a>
      </div>
    </div>
  {% empty %}
    <p>No portfolios available.</p>
  {% endfor %}
</div>

{% endblock %}




