{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static 'vendor/libs/bootstrap/bootstrap.css' %}" />
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}" />
  
{% endblock %}


{% block content %}
  
        <!-- Navbar -->

        {% include 'partials/navbar.html' %}

        <!-- / Navbar -->

        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->

          <div class="container-xxl flex-grow-1 container-p-y">
            <h1>{{ portfolio.title }}</h1>
            <p>{{ portfolio.content }}</p>
            <p>Price: {{ portfolio.price }}</p>
            <p>Start Date: {{ portfolio.portfolio_start }}</p>
            <p>End Date: {{ portfolio.portfolio_end }}</p>
            <p>Views: {{ portfolio.show }}</p>
            <p>Likes: {{ portfolio.like }}
                <form action="{% url 'portfolio_detail' portfolio.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Like</button>
                </form>
            </p>

            <h2>Images</h2>
            {% for image in portfolio.images.all %}
                <img src="{{ image.image.url }}" alt="Portfolio Image" class="img-fluid">
            {% endfor %}

            {% for video in portfolio.videos.all %}
                <video controls class="img-fluid">
                    <source src="{{ video.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endfor %}

            <div class="action-buttons">
                <!-- Edit Button -->
                <a href="{% url 'update_portfolio' portfolio.id %}" class="btn btn-secondary">Edit</a>
                <!-- Delete Button -->
                <form action="{% url 'delete_portfolio' portfolio.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <!-- <button type="submit" class="btn btn-danger" hx-confirm="정말로 삭제하시겠습니까?" >Delete</button> -->
                </form>
            </div>
          </div>
          <!-- / Content -->
        </div>
        <!-- Content wrapper -->
      

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  
{% endblock %}

{% block vendor_js %}
  <script src="{% static 'vendor/libs/bootstrap/bootstrap.js' %}"></script>
{% endblock %}

{% block page_js %}
  <!-- Page specific JavaScript files can be included here -->
{% endblock %}