{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}

<div style="text-align: right; margin-right: 270px;">
  <a href="{% url 'create_portfolio' %}" class="btn btn-primary" style="font-weight: medium;">글쓰기</a>
</div>

<div class="container mt-4">
  <div class="row">
    {% for portfolio in portfolios %}
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <!-- Assuming each portfolio has an 'image' attribute for the image URL -->
          <div class="card-img-top" style="max-height: 350px; overflow: hidden;">
            {{ portfolio.htmlcontent|safe }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ portfolio.title }}</h5>
            <a href="" class="card-text">{{ portfolio.expert.first_name }} {{ portfolio.expert.last_name }}</a>
            <p class="card-text">Views: {{ portfolio.show }}</p>
            <p class="card-text">Likes: {{ portfolio.like }}</p>
            <a href="{% url 'portfolio_detail' portfolio.id %}" class="btn btn-outline-primary">View Portfolio</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p>No portfolios available.</p>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}