{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
<link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}

        
          <!-- Content -->

          
            <h1>{{ portfolio.title }}</h1>
            <!-- Removed <p>{{ portfolio.content }}</p> and replaced with the following loop -->
            {% for portfolio in portfolios %}
                <div class="portfolio">
                  <h2>{{ portfolio.title }}</h2>
                  <!-- PortfolioEditor의 htmlcontent를 출력합니다. -->
                  {% for editor in portfolio.editors.all %}
                    <div class="editor-content">
                      {{ editor.htmlcontent|safe }}  <!-- HTML이 렌더링되도록 safe 필터를 사용합니다. -->
                    </div>
                  {% endfor %}
                </div>
              {% empty %}
                <p>No portfolios available.</p>
              {% endfor %}
            <p>Price: {{ portfolio.price }}</p>
            <p>Start Date: {{ portfolio.portfolio_start }}</p>
            <p>End Date: {{ portfolio.portfolio_end }}</p>
            <p>Views: {{ portfolio.show }}</p>
            <p>Likes: {{ portfolio.like }}
                <form action="{% url 'portfolio_detail' portfolio.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Like</button>
                </form>
            </p>

            <h2>Images</h2>
            {% for image in portfolio.images.all %}
                <img src="{{ image.image.url }}" alt="Portfolio Image" class="img-fluid">
            {% endfor %}

            {% for video in portfolio.videos.all %}
                <video controls class="img-fluid">
                    <source src="{{ video.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% endfor %}

            <div class="action-buttons">
                <!-- Edit Button -->
                <a href="{% url 'update_portfolio' portfolio.id %}" class="btn btn-secondary">Edit</a>
                <!-- Delete Button -->
                <form action="{% url 'delete_portfolio' portfolio.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <!-- <button type="submit" class="btn btn-danger" hx-confirm="정말로 삭제하시겠습니까?" >Delete</button> -->
                </form>
            </div>
          
{% endblock %}