{% load pwa %}
{% load static %}

<!DOCTYPE html>
<html lang="ko" class="light-style layout-wide customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../static/" data-template="horizontal-menu-template-no-customizer" data-style="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    {% progressive_web_app_meta %}
    <title>
      {% block title %}
        콜드페이
      {% endblock %}
    </title>
    {% comment %}스타일 설정{% endcomment %}
    {% include 'includes/styles.html' %}

    {% block vendor_css %}

    {% endblock %}

    {% block page_css %}

    {% endblock %}
  </head>
  <body>
    <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
      <div class="layout-container">
        {% block content %}

        {% endblock %}
      </div>
    </div>

    {% include 'includes/scripts.html' %}

    {% block vendor_js %}

    {% endblock %}

    {% block page_js %}

    {% endblock %}
  </body>
</html>
