{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock %}

{% block page_css %}

{% endblock %}

{% block content %}

  {% comment %} 테스트용 코드 {% endcomment %}
  {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}!</p>
  {% else %}
      <p>Please log in.</p>
  {% endif %}
  {% comment %} 테스트용 코드 {% endcomment %}

  
  <!-- 레이아웃 -->
  <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
      <!-- 네비바 -->
      {% include 'partials/navbar.html' %}
      <!-- 콘텐츠 -->
      {% comment %} {% endcomment %}

      <!--  -->
    </div>
  </div>
{% endblock %}

{% block vendor_js %}

{% endblock %}

{% block page_js %}

{% endblock %}
