{% extends 'base.html' %}
{% load static %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
{% endblock %}

{% block page_css %}

{% endblock %}

{% block content %}
  <!-- 레이아웃 -->
  <div class="layout-wrapper layout-navbar-full layout-horizontal layout-without-menu">
    <div class="layout-container">
      <!-- 네비바 -->
      {% include 'partials/navbar.html' %}
      <!-- 콘텐츠 -->
      {% comment %} {% endcomment %}

      <br />
      <br /><br />
      <h1>지금 핫한 포트폴리오</h1>
      {% include 'portfolios/portfolio_cards.html' %}
    </div>
  </div>
{% endblock %}

{% block vendor_js %}

{% endblock %}

{% block page_js %}
  {% csrf_token %}
  <script src="https://pay.nicepay.co.kr/v1/js/"></script> <!-- Server 승인 운영계 -->
  <script>
    function serverAuth() {
      AUTHNICE.requestPay({
        clientId: 'S2_c69537fcca7b470ea19db11a7f5dcf84',
        method: 'card',
        orderId: 'c7c1de06-7cc5-44e2-9e8e-7f3ce3a2029e',
        amount: 1004,
        goodsName: '나이스페이-상품',
        returnUrl: 'http://127.0.0.1:8000/serverAuth/', //API를 호출할 Endpoint 입력
        fnError: function (result) {
          alert('개발자확인용 : ' + result.errorMsg + '')
        }
      })
    }
  </script>
{% endblock %}
