{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}

{% block vendor_css %}
  <link rel="stylesheet" href="{% static 'vendor/libs/node-waves/node-waves.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/typeahead-js/typeahead.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock %}

{% block page_css %}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}" />
{% endblock %}

{% block content %}
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-6">
        <!-- Register Card -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center mb-6">
              <a href="{% url 'home' %}" class="app-brand-link">
                <span class="app-brand-logo demo">로고</span>
                <span class="app-brand-text demo text-heading fw-bold">Coldpay</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-1">Adventure starts here 🚀</h4>
            <p class="mb-6">Make your app management easy and fun!</p>

            <form id="formAuthentication" method="POST" action="{% url 'accounts:signup' %}" id="signup-form" class="mb-6">
              {% csrf_token %}
              {% comment %} <div class="mb-6">
                <label for="username" class="form-label">닉네임</label>
                {{ form.username }}
              </div> {% endcomment %}
              <div class="row mb-6">
                <div class="col">
                  <label for="last_name" class="form-label">성</label>
                  {{ form.last_name }}
                </div>
                <div class="col">
                  <label for="first_name" class="form-label">이름</label>
                  {{ form.first_name }}
                </div>
              </div>
              <div class="row mb-6">
                <label for="email" class="form-label">이메일</label>
                <div class="col-9">{{ form.email }}</div>
                <div class="col-3">
                  <button type="button" class="btn btn-primary text-white" id="send-verification-email-btn">인증</button>
                  <span id="email-verification-loading" class="spinner-border spinner-border-sm text-primary" style="display: none;"></span>
                </div>
              </div>
              <div class="row mb-6" id="verification-code-container" style="display: none;">
                <label for="verification_code" class="form-label">인증 코드</label>
                <div class="col-9">
                  <input type="text" id="verification_code" class="form-control" />
                </div>
                <div class="col-3">
                  <button type="button" class="btn btn-primary text-white" id="verify-code-btn">확인</button>
                  <span id="code-verification-loading" class="spinner-border spinner-border-sm text-primary" style="display: none;"></span>
                </div>
              </div>
              <div id="email-verification-message" class="mb-6" style="display: none;"></div>
              <div class="mb-6 form-password-toggle">
                <label class="form-label" for="password">패스워드</label>
                <div class="input-group input-group-merge">
                  {{ form.password }}
                  <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                </div>
              </div>

              <div class="my-8">
                <div class="form-check mb-0 ms-2">
                  <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                  <label class="form-check-label" for="terms-conditions"><a href="javascript:void(0);">이용약관 및 개인정보처리 방침</a>에 동의합니다.</label>
                </div>
              </div>
              <button class="btn btn-primary d-grid w-100" type="submit" id="signup-submit" disabled>가입하기</button>
            </form>

            <p class="text-center">
              <span>이미 계정이 있으신가요?</span>
              <a href="{% url 'accounts:login' %}"><span>로그인</span></a>
            </p>

            <div class="divider my-6">
              <div class="divider-text">또는</div>
            </div>

            <div class="d-flex justify-content-center">
              <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-facebook me-1_5"><i class="tf-icons ti ti-brand-facebook-filled"></i></a>
              <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-twitter me-1_5"><i class="tf-icons ti ti-brand-twitter-filled"></i></a>
              <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-github me-1_5"><i class="tf-icons ti ti-brand-github-filled"></i></a>
              <a href="{% provider_login_url 'google' %}" class="btn btn-sm btn-icon rounded-pill btn-text-google-plus"><i class="tf-icons ti ti-brand-google-filled"></i></a>
            </div>
          </div>
        </div>
        <!-- Register Card -->
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const emailField = document.getElementById('email')
      const sendBtn = document.getElementById('send-verification-email-btn')
      const verificationContainer = document.getElementById('verification-code-container')
      const messageDiv = document.getElementById('email-verification-message')
      const verifyBtn = document.getElementById('verify-code-btn')
      const submitBtn = document.getElementById('signup-submit')
      const verificationCodeField = document.getElementById('verification_code')
      const lastNameField = document.getElementById('last_name')
      const firstNameField = document.getElementById('first_name')
      let verifyComplete = false
      let debounceTimer;
    
      const validateEmail = (email) => /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email.toLowerCase())
    
      const displayMessage = (message, isError = true) => {
        messageDiv.style.display = 'block'
        messageDiv.style.color = isError ? 'red' : 'green'
        messageDiv.innerText = message
      }
    
      const fetchData = async (url) => {
        try {
          const response = await fetch(url, {
            method: 'GET',
            headers: { 'X-Requested-With': 'XMLHttpRequest' }
          })
          return await response.json()
        } catch (error) {
          console.error('Error:', error)
          displayMessage('오류가 발생했습니다. 다시 시도해주세요.')
        }
      }

      const debounce = (func, delay) => {
        return (...args) => {
          clearTimeout(debounceTimer);
          debounceTimer = setTimeout(() => func.apply(this, args), delay);
        };
      };
    
      const checkUserExists = async (email) => {
        const data = await fetchData(`{% url 'accounts:check-user-exists' %}?email=${email}`);
        if (data?.exists) {
          displayMessage('이미 가입한 계정이 있습니다.');
        } else {
          messageDiv.style.display = 'none';
          messageDiv.innerText = '';
        }
      };
    
      // 이메일 필드 검증
      emailField.addEventListener('input', debounce(() => {
        const email = emailField.value;
        // 형식이 맞으면
        if (validateEmail(email)) {
          // 이미 가입한 계정이 있는지 확인
          checkUserExists(email);
        }
      }, 500)); // 500ms 지연
    
    
      // 인증 메일 발송
      sendBtn.addEventListener('click', async () => {
        const email = emailField.value
        if (!validateEmail(email)) {
          displayMessage('이메일 형식이 맞지 않습니다.')
          return
        }
        if (checkUserExists(email)) {
          displayMessage('이미 가입한 계정이 있습니다.')
          return
        }
    
        verificationContainer.style.display = 'flex'
        displayMessage('인증 코드가 메일로 발송되었습니다.', false)
        emailField.readOnly = true
        sendBtn.disabled = true
    
        const data = await fetchData(`{% url 'accounts:send-verification-email' %}?email=${email}`)
        if (data?.status !== 'sent') {
          displayMessage('인증 메일 발송에 실패했습니다. 다시 시도해주세요.')
          verificationContainer.style.display = 'none'
          emailField.readOnly = false
          sendBtn.disabled = false
        }
      })
    
      verifyBtn.addEventListener('click', async () => {
        const email = emailField.value
        const code = verificationCodeField.value
    
        const data = await fetchData(`{% url 'accounts:verify-code' %}?email=${email}&code=${code}`)
        if (data?.status === 'verified') {
          messageDiv.style.display = 'none'
          verificationCodeField.disabled = true
          verifyBtn.disabled = true
          emailField.readOnly = true
          verifyComplete = true
        } else {
          displayMessage('인증번호가 올바르지 않습니다.')
          submitBtn.disabled = true
        }
      })

      lastNameField.addEventListener('input', checkFormValidity);
      firstNameField.addEventListener('input', checkFormValidity);

      const checkFormValidity = () => {
        const isNameFilled = lastNameField.value.trim() !== '' && firstNameField.value.trim() !== '';
        submitBtn.disabled = !(verifyComplete && isNameFilled);
      };
    


    })
  </script>
{% endblock %}

{% block vendor_js %}
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock %}

{% block page_js %}
  <script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock %}
